@import "leaves.css";
@import "man.css";
@import "scrolling_text.css";
@import "rain.css";

html{
    overflow-x:hidden;
}
body{
    width: 100%;
}
main{
    height: 800px;
    overflow: hidden;
}
.bg{
    height: 400px;
    background-color: #FBC020;
    overflow: hidden;
}